html * {
    box-sizing: border-box;
    font-family: Tahoma, Calibri, sans-serif;
    margin: 0px;
    padding: 0px;

}
html {
    background-image: url(../images/n-XBOX-PIZZA-HUT-large570_28.png);
    background-repeat: none;
    background-size: cover;
    background-position: 0px -20px;   
}
header h1 {
    font-size: 85px;
    margin-left: 15px;
    padding-top: 10px;
}

nav li {
    margin-top: 0px;
    font-size: 25px;
    width: 20%;
    text-align: center;
    float: left;
    list-style: none;
    margin-bottom: 10px;
}
nav ul {
   
}
p {
    margin-bottom: 20px;
}


footer {
    clear: both;
    width: 100%;
    height: 35px;
    background-color: white;
    text-align: center;
    padding-top: 5px;
}

fieldset {
    padding-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 15px;
}

ul {
    list-style-position: inside;
    
}


strong {
    font-size: 120%;
}


a {
    text-decoration: none;
}

a:link {
    color: #666666;
}
a:visited {
    color: Black;
}
a:hover {
    color: #ffa227;
}
a:active {
    color: #b6da6e;
}
.main {
    margin: 10px auto;
    width: 900px;
}
.article {
    width: 600px;
    float: left;
    padding: 15px;
    background-color: white;
    height: 500px;
}

.aside {
    width: 250px;
    float: right;
    padding: 15px;
    background-color: white;
    height: 500px;
}
.article-admin-login {
        width: 600px;
    float: left;
    padding: 15px;
    background-color: white;
    height: 500px;
    position: relative;
   
}

.article-admin-change {
        width: 600px;
    float: left;
    padding: 15px;
    background-color: white;
    height: 500px;
    position: relative;
   
}

.input {
    margin-left: 10px;
    position: absolute;
    left: 150px;

}

.input-admin-change {
    margin-left: 10px;
/*    position: relative;*/
/*    left: 150px;*/
    float: right;
}

.header {
    width: 100%;
    height: 250px;
    background-image: url(../images/n-XBOX-PIZZA-HUT-large570.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: 0px -20px;
}

.radio-group {
    display: block;
    margin-top: 5px;
    margin-left: 287px;
}

.check-group {
    float: left;
    margin-left: 5px;
    width: 49%;
}

.text-group {
    display: block;
    
}

.text-group label {
    display: inline-block;
    width: 200px;
}

.text-group-text {
/*    margin-left: 100px;*/
}

.important {
     color: red;   
}

.submit_button {
    display:block;
    margin: 10px auto;
    text-align: center;
    background-color: burlywood;
}

.toppings-display-box{
    height: 150px;    
}

#toppings {
    height: 60px;
    margin-top: 15px;
    padding-top: 5px;
    font-size: .8em;
    background-color: lightgrey;
    display: none;
}

.scrolling {
    overflow: scroll;
    height: 300px;
    width: 225px;
}

